.logo{
    width: 90px;
   float: left;
   margin-left:10px;
   margin-top: -18px;
 }

.footer {
   background-color:darkcyan ;
   color: #fff;
   padding: 50px 0;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
}

.footer-content {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.footer-section {
   flex: 1;
   margin-bottom: 20px;
   padding: 0 20px;
 text-align: center;
 margin-right: 11px;
   
}

.footer-section h2 {
   font-size: 30px;
   margin-bottom: 10px;
   
}

.links, .Redes {
   list-style: none;
}

.links li, .Redes li {
   margin-bottom: 5px;
}

.links a {
   color: #ffffff;
   text-decoration: none;
   transition: color 0.3s ease;
   margin-right: 43px;
}

.links a:hover {
   color: #999;
}
.Redes{
display: flex;
align-items: center;
justify-content: center;
margin-right: 38px;


}
.Redes img {
   width: 40px;
   height: 40px;
   margin-right: 11px;
}
.p{
   color: #FFFFFF;
}