
footer {
   background-color:black;
   color: #fff;
   padding: 20px 0px ;
   width: 100%;
   box-shadow: 0 0 10px rgb(57, 56, 56);
   font-family:monospace;
   /* position: fixed; */
}

.footer-content {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 10px;
}

.footer-section {
   flex: 1;
   margin-bottom: 20px;
   padding: 0 20px;
 text-align: center;
   
}

.footer-section h2 {
   font-size: 30px;
   margin-bottom: 10px;
   
}

.links, .Redes {
   list-style: none;
}

.links li, .Redes li {
   margin-bottom: 5px;
   
   
}

.links a {
   color: #ffffff;
   text-decoration: none;
   transition: color 0.3s ease;
   margin-right: 43px;
}

.links a:hover {
   background: linear-gradient(45deg, rgb(0, 17, 255), rgb(225, 0, 255), rgb(221, 3, 76), rgb(160, 131, 0), rgb(0, 162, 255), rgb(0, 255, 0), rgb(255, 0, 234));
   -webkit-background-clip: text;
   color: transparent;
   animation: rainbow3 10s linear infinite;
}
.Redes{
display: flex;
align-items: center;
justify-content: center;
margin-right: 38px;



}
.Redes img {
   width: 40px;
   height: 40px;
   margin-right: 11px;
   
}
.p{
   color: #FFFFFF;
}
.logoF{
   width: 170px;
  height: 150px;
 background-size: 100%;
 margin-left: -300px;
}