.portfolio-header {
  background-color: darkcyan;
  padding: 25px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgb(57, 56, 56);
}
.logo {
  width: 150px;
  height: 55px;
 background-size: 100%;
 margin-left: 25px;
  
}

.navbar {
  margin-top: 30px;
  text-align: right;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 40px;
  background-color: #008080;
  border: 2px solid white;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid black;
}
