.portfolio-header {
  background-color: black;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgb(57, 56, 56);
}
.logo {
  width: 120px;
  height: 120px;
 background-size: 100%;
 margin-left: 25px;
  
}

.navbar {
  margin-top: 55px;
  text-align: right;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px; 
  
}



.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 40px;
  background-color:black ;
  border: 2px solid white;
  transition: background-color 0.3s, color 0.3s;
  background: linear-gradient(45deg, rgb(0, 0, 255), rgb(35, 209, 0), rgb(255, 0, 0));
}

.navbar a:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid black;
}
