body {
  background-color: rgb(209, 211, 212);
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-top: 130px;
}

.content-container {
  text-align: left;
  margin-left: 40px;
}

.main1-1 {
  font-size: 24px;
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 5px;
  background: linear-gradient(45deg, rgb(115, 255, 0), rgb(0, 162, 255), rgb(3, 3, 221), green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow1 10s linear infinite;
}

.main2-1,
.main2-2,
.main2-3 {
  font-size: 40px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  margin: 0;
  background: linear-gradient(45deg, red, rgb(21, 199, 5), rgb(0, 0, 255), rgb(0, 214, 214), rgb(35, 209, 0), rgb(5, 58, 204), rgb(255, 0, 0));
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow2 10s linear infinite;
}

.main1-2 {
  font-size: 18px;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 10px;
  background: linear-gradient(45deg, rgb(0, 17, 255), rgb(225, 0, 255), rgb(221, 3, 76), rgb(160, 131, 0), rgb(0, 162, 255), rgb(0, 255, 0), rgb(255, 0, 234));
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow3 10s linear infinite;
}

.main1-3 {
  border: 2px solid black;
  padding: 10px 40px;
  border-radius: 40px;
  font-size: 19px;
  font-family:monospace;
  background: linear-gradient(45deg, red, rgb(255, 0, 43), rgb(88, 218, 13), rgb(0, 183, 255), rgb(255, 0, 0), rgb(0, 47, 255));
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow4 10s linear infinite;
}

.img2 {
  position: relative;
  margin-top: 10px;
  width: 550px;
  height: 350px;
  margin-right: 200px;
}
/* Adicione estilos para a barra de pesquisa */

.barrapesquisa{
  height: 30px;
  border: 1px solid #bebebe;
  width: 200px;
  border-radius: 5px;
  font-size: 1.4rem;
}
.barrapesquisa:focus-visible{
  outline: 1px solid rgba(28, 28, 191, 0.57);
}
.pesquisa{
  padding: 50px;
}
.content-main{
  padding: 50px;
  display: flex;
  gap: 15px;
  

  /* gap: 30px;
  flex-wrap: wrap;
  justify-content: center; */
}

